@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

header {
  background-color: palette(black, lighter);
  position: relative;
  z-index: 11;
  color: palette(white, dark);
  display: flex;
  align-items: center;

  @include rem((
    height: 70px,
    padding: 0 20px
  ));

  .content__full {
    height: 100%;
  }

  h1 {
    margin-bottom: 0;
  }
}
