@import '../../../../style/abstracts/functions';
@import '../../../../style/abstracts/palette';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

header {
  background-color: palette(black, lighter);
  position: relative;
  z-index: 11;

  @include rem(height, 70px);

  .content__full {
    height: 100%;
  }
}
