.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 520px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);

  &.isolated,
  &.isolated + .overlay {
    position: absolute;
  }

  &.isolated {
    min-height: 0;
    min-width: 0;
  }
}

@media (min-width: 768px) {
  .dialog {
    top: 40px;

    &.isolated {
      top: 20px;
    }
  }
}

.close-btn {
  border: 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2em;
  outline: 0;
}
