// styles applied on :host are applied on the current component, "app" in this case
@import '../style/abstracts/functions';
@import '../style/abstracts/palette';

main {
  display: flex;
  height: 100%;

  @include rem(padding-top, 70px);
}

section {
  height: 100%;
  overflow: hidden;
  background-color: palette(grey, light);
  position: relative;
  border-top: solid palette(white, dark);
  flex: 1 0 auto;

  @include rem((
    padding: 10px,
    border-width: 1px
  ));
}

.section-inner {
  padding: 20px;
  background-color: $_color-base-white;
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: 1px solid palette(white, dark);
  border-left: 1px solid palette(white, dark);
}

.max-height {
  max-height: 1000px;
  transition: max-height linear;
}
