// styles in src/style directory are applied to the whole page
@import './abstracts/functions';
@import './abstracts/palette';
@import './abstracts/variables';
@import './typography/daimler-cs';
@import './layout/global';
@import './layout/units';
@import './elements/dropdown';
@import 'toasty';
