@import '../../../style/abstracts/palette';
li {
  padding: 10px;
  border-bottom: 1px solid palette(grey);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}
