<nav>
  <h3>Elements</h3>
  <div class="nav-group">
    <ul>
      <li><a href>Forms</a></li>
      <li class="nested">
        <ul>
          <li>
            <a href>Input</a>
          </li>
          <li>
            <a href>Textarea</a>
          </li>
          <li>
            <a href>Select</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><a href>Buttons</a></li>
      <li class="nested">
        <ul>
          <li>
            <a href>Primary</a>
          </li>
          <li>
            <a href>Secondary</a>
          </li>
          <li>
            <a href>Groups</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <h3>Features</h3>
  <div class="nav-group">
    <ul>
      <li>
        <a href routerLink="/validation" routerLinkActive="active">Validation</a>
      </li>
      <li class="nested">
        <ul>
          <li>
            <a href routerLink="/conditional-validation" routerLinkActive="active">Conditional</a>
          </li>
        </ul>
      </li>
      <li>
        <a href routerLink="/autosave" routerLinkActive="active">Autosave</a>
      </li>
      <li>
        <a href routerLink="/modal" routerLinkActive="active">Modal</a>
      </li>
      <li>
        <a href routerLink="/messaging" routerLinkActive="active">Messaging</a>
      </li>
      <li>
        <a href routerLink="/file-upload" routerLinkActive="active">File Upload</a>
      </li>
      <li>
        <a href routerLink="/tabs" routerLinkActive="active">Tabs</a>
      </li>
      <li>
        <a href routerLink="/search" routerLinkActive="active">Search</a>
      </li>
      <li>
        <a href>Dropdown</a>
      </li>
    </ul>
  </div>
</nav>
